<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

    
<nav class="navbar">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="/books" style="font-size: 30px; ">
        <img src="assets/logo.jpg/" alt="" width="35" height="28" class="d-inline-block align-text-top">
        Library.com
      </a>
      <div class="navbarbtn ml-auto">
      <li> <a class="nav-link active" aria-current="page" routerLink="login">LogIn</a></li>
      <li> <a class="nav-link active" aria-current="page" routerLink="signup">Sign Up</a></li>
      </div>
    </div>
  </nav>

